*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    overflow-x: hidden;
}
p{
    font-size: 18px;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 60%;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(165, 164, 164);
}
.results{
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: #BCBAFE;
    text-align: center;
    font-weight: 500;
}
.result-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 5px;
    width: 200px;
    height: 200px;
    padding: 1rem;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.result-value > span{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.circle > span{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.summary{
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.stat{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    padding: 1rem;
    border-radius: .5rem;
}
.stat > p > span{
    color: rgb(171, 179, 179);
}
.reaction-bg{
    background-color: hsl(0, 100%, 95%);
}
.reaction{
    color: hsl(0, 100%, 67%);
}
.memory{
    color: hsl(39, 100%, 56%);
}
.memory-bg{
    background-color: hsl(39, 100%, 95%);
}
.verbal{
    color: hsl(166, 100%, 37%);
}
.verbal-bg{
    background-color: hsl(166, 100%, 95%);
}
.visual{
    color: hsl(234, 85%, 45%);
}
.visual-bg{
    background-color: hsl(234, 85%, 95%);
}
.atributo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.summary > button{
    height: 50px;
    border: none;
    border-radius: 2rem;
    background: hsl(224, 30%, 27%);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    transition: background .25s ease-in;
}
.summary > button:hover{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 1300px){
    #container{
          width: 60%;
          height: 55%;
    }
}
@media (max-width: 900px){
    #container{
          width: 70%;
          height: 55%;
    }
}
@media (max-width: 800px){
    #container{
          width: 75%;
          height: 60%;
    }
}
@media (max-width: 700px){
    #container{
          width: 90%;
          height: 50%;
    }
}
@media (max-width: 600px){
    #container{
          flex-direction: column;
          border-radius: none;
          width: 100%;
          height: 100%;
    }
    .results{
          width: 100%;
          border-radius: 0 0 1rem 1rem;
    }
    .summary{
          width: 100%;
    }
}